{% extends 'main/base.html' %}
{% load static %}
{% block title %}
<!--<title>Наша команда</title>-->
<title>Главная</title>
{% endblock %}
{% block content %}
<h1>Кто мы такие?</h1>
<h2>И что мы делаем?</h2>
<div class="acc">
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
        Боты и парсеры
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Наша команда на python/php разрабатывает telegram/vk/discord ботов разной сложности, а так-же парсеры на beautifulsoup, selenium, scrapy. </strong><br> Цены:<br>Бот - от 5к до 30к рублей<br>Парсер - от 5к до 15к рублей
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Сайты
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Наша команда разрабатывает сайты с использованием <code>html, css, javascript, jQuery, python, django, flask, SQLite, mySQL</code>.</strong><br>Цена: Сайт - от 10к до 100к рублей. 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Приложения под Windows/Linux
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Мы создаем наши приложения с помощю python + PyQt5 и С#.</strong> Любой софт с графическим интерфейсом. <br> Цена: <br> Приложение - от 10к до 100к рублей.
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}